<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SitiOne</title>
</head>
<body>
  <h1>Formulario</h1>
 <form action="">

   <div class="input.group">
      <label for="name">Nombre: </label>
      <input type="text" id="name" [(ngModel)] = "register.name">
      <p>Mensajes de error</p>
   </div>
   <div class="input.group">
    <label for="email">e-mail: </label>
    <input type="text" id="email" [(ngModel)] = "register.email">
    <p>Mensajes de error</p>
 </div>
 <div class="input.group">
  <label for="password">Password: </label>
  <input type="text" id="password" [(ngModel)] = "register.password">
  <p>Mensajes de error</p>
</div>

 </form>


</body>
</html>
